body,
html,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 300;
  src: local('Fira Code'), url(./fonts/FiraCode-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 400;
  src: local('Fira Code'), url(./fonts/FiraCode-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 500;
  src: local('Fira Code'), url(./fonts/FiraCode-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 600;
  src: local('Fira Code'), url(./fonts/FiraCode-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 700;
  src: local('Fira Code'), url(./fonts/FiraCode-Bold.woff2) format('woff2');
}
